.wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: var(--gs-10);
}

.loginWrapper {
  display: flex;
  padding: 24px 24px 12px 24px;
  justify-content: center;
  align-items: center;
  background: var(--gs-0);
}
