import React from 'react';
import s from './{{pascalCase name}}.module.scss';
import {} from 'antd';

const {{pascalCase name}} = props => {
  return (
    <div className={`${s.wrapper}`}>
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};