.wrapper {
    display: flex;
    align-items: center;
    height: 48px;
    background: var(--gs-0);
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu {
    font-size: 16px;
    border: none;
}
